<!DOCTYPE html>
<html>

<head>
  <title>My App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <div class="container mt-4">
    <h1 class="text-primary h1">ChatGPT Web App</h1>
    <form action="/result" method="POST">
      <div class="form-group">
        <label for="message" class="text-warning">Ask Me Random Question</label>
        <textarea class="form-control mt-2 form-text" id="message" name="message" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
  </div>
  <footer class="card-footer text-warning p-5 mt-4 text-center">
    ©️<span id="year"></span> <a href="https://dnoobnerd.netlify.app/"
      class="text-decoration-underline text-warning">Deepak Padhi</a>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous">
  </script>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
</body>

</html>